/*=====================================
        Color Variable's
=====================================*/

$Primary-color: #0F0F0F;
$Primary-color-25: rgba(15, 15, 15, 0.25);
$Secondary-color: #DAD420;
$Gray-Shade-1: #666666;
$Gray-Shade-2: #B3B3B3;
$Light-bg-color: #272727;
$Light-text-color: #C9C9C9;
$White-color: #FFFFFF;

/*=====================================
        Font Size Variable's
=====================================*/

$font-size-h1: 56px;
$font-size-h2: 40px;
$font-size-h3: 24px;
$font-size-LB: 20px;
$font-size-M: 18px;
$font-size-S: 16px;
$font-size-SB: 16px;

/*=====================================
        Line Height Variable's
=====================================*/

$line-height-h1: 76px;
$line-height-h2: 64px;
$line-height-h3: 36px;
$line-height-LB: 40px;
$line-height-M: 36px;
$line-height-S: 32px;
$line-height-SB: 32px;

/*=====================================
        Box Shadow Variable's
=====================================*/

$Box-Shadow-custom: 0px 15px 50px rgba(0, 0, 0, 0.1);

/*=====================================
        Font Family Variable's
=====================================*/

$font-family-Bold: "BeVietnam-Bold";
$font-family-Medium: "BeVietnam-Medium";
$font-family-Regular: "BeVietnam-Medium";