@import '../../common-styles/variable.scss';

.White_Input {
    font-size: $font-size-SB;
    line-height: $line-height-SB;
    font-family: $font-family-Bold;
    background-color: $White-color;
    color: $Primary-color;
    padding: 9px 24px 11px 24px;
    border: 1px solid #CFCFCF;
    border-radius: 4px;
    transition: .3s;

    &:focus {
        border: 1px solid $Primary-color;
        outline: none;
    }

    &::placeholder {
        color: $Gray-Shade-2;
    }
}